.progress {
  border: #ccc solid 1px;
  border-radius: 5px;
  margin-right: 5%;
  width: 90%;
}
.progress-heading {
  font-weight: bold;
  padding: 20px;
  cursor: pointer;
  color: #082551;
  height: 60px;
}

.progress-body {
  padding: 20px;
  cursor: pointer;
}

.expended {
  background-color: #f0f0f0;
}
.add-icon {
  margin-right: 95%;
  margin-top: -20px;
}
.renove-icon {
  margin-right: 95%;
  margin-top: -10px;
}
// .progress-title{
//   color: #082551;
//   //margin: 20px 20px 0px 0px ;
// }
