<img class="image-header" src="../../../assets/img/tellHeader.jpg" alt="Meetings Page Header Image" />
<section class="registration-page">
  <section *ngIf="currentStep > 0">
    <div class="site-divider"></div>
    <div class="small-heading">פרטים נוספים</div>

    <app-progress title="הסבר" [isExpended]="true">
      <section class="registration-step">
        <app-participate-intro></app-participate-intro>
      </section>
    </app-progress>

    <br />

    <app-progress title="פרטי משתמש" [isExpended]="true">
      <section class="registration-step">
        <app-profile-form [user]="user" [firebaseUser]="firebaseUser" (submit)="onProfileSubmit($event)">
        </app-profile-form>
      </section>
    </app-progress>
  </section>
  <br />

  <app-progress title="הרשמה" *ngIf="ok">
    <app-meetings [user]="user" [meetings]="meetings" (joinMeeting)="onJoinMeeting($event)"> </app-meetings>
  </app-progress>
  <!-- <button (click)="submit.emit()" class="site-button primary-button intro-button">
      המשך
    </button> -->
  <br />
  <br />

  <div class="registration-steps">
    <ng-container [ngSwitch]="currentStep">
      <ng-container *ngSwitchCase="0">
        <!-- <app-participate-intro (submit)="currentStep$.next(1)"></app-participate-intro> -->
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <!-- login -->
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <section class="registration-step">
          <!-- <app-profile-form [user]="user" [firebaseUser]="firebaseUser" (submit)="onProfileSubmit($event)"> -->
          <!-- </app-profile-form> -->
        </section>
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <!-- <app-meetings [user]="user" [meetings]="meetings" (joinMeeting)="onJoinMeeting($event)"> </app-meetings>  -->
      </ng-container>
      <ng-container *ngSwitchCase="4">
        <!-- <app-meetings [user]="user" [meetings]="meetings" (joinMeeting)="onJoinMeeting($event)"> </app-meetings>  -->
      </ng-container>
    </ng-container>
  </div>
</section>
