<img class="image-header" src="../../../assets/img/hostHeader.jpg" alt="Meetings Page Header Image" />

<section class="registration-page">
  <section *ngIf="currentStep > 0">
    <div class="site-divider"></div>

    <div class="small-heading">פרטים נוספים</div>

    <app-progress title="פירוט" [isExpended]="true">
      <section class="step0">
        <app-host-intro></app-host-intro>
      </section>
    </app-progress>
    <br />
    <app-progress title="פרטי משתמש">
      <section class="registration-step">
        <app-profile-form [user]="user" [firebaseUser]="firebaseUser" (submit)="onProfileSubmit($event)">
        </app-profile-form>
      </section>
    </app-progress>
    <br />
    <app-progress title="פרטי הארוח">
      <section class="registration-step">
        <app-host-form [user]="user" (submitMeetingDetailsPage)="onNewMeeting($event)"></app-host-form>
      </section>
    </app-progress>
  </section>
  <br />
  <!-- [currentStep]="currentStep - 1"
  [steps]="[{ title: 'התחברות' }, { title: 'הרשמה' }, { title: 'פרטי האירוח' }, { title: 'אישור האירוח' }]" -->
  <div class="registration-steps">
    <ng-container [ngSwitch]="currentStep">
      <ng-container *ngSwitchCase="0">
        <!-- <section class="step0">
          <app-host-intro (nextStep)="currentStep$.next(1)"></app-host-intro>
        </section> -->
      </ng-container>
      <ng-container *ngSwitchCase="1">
        <!-- login -->
      </ng-container>
      <ng-container *ngSwitchCase="2">
        <!-- <section class="registration-step">
          <app-profile-form [user]="user" [firebaseUser]="firebaseUser" (submit)="onProfileSubmit($event)">
          </app-profile-form>
        </section> -->
      </ng-container>
      <ng-container *ngSwitchCase="3">
        <!-- <section class="registration-step">
          <app-host-form [user]="user" (submitMeetingDetailsPage)="onNewMeeting($event)"></app-host-form>
        </section> -->
      </ng-container>
    </ng-container>
  </div>
</section>
