<section class="intro">
  <div class="site-divider"></div>
  <div class="small-heading">מפגשים</div>
  <div class="medium-heading">אני רוצה לספר</div>
  <div class="site-text">
    <p>
      אחים ואחיות יקרים, אנו שמחים שאתם מעוניינים לקחת חלק במפגשי 'האחים שלנו'.
    </p>
    <p>
      נשמח לסייע לכם בכל דרך שנוכל על מנת שתוכלו לקיים מפגש עוצמתי, מרגש וייחודי.
    </p>
    <p>
      בלחיצה על כפתור 'המשך', יתחיל תהליך ההרשמה, בו יש צורך במילוי פרטים אישיים, מילוי פרטי חלל ולבסוף - שיבוצך באחד
      הבתים המארחים שנפתחו. חלק מהמפגשים יהיו בסביבה אינטימית וחלקם, באווירה גדולה יותר.
    </p>
    <p>
      לקראת המפגשים אנו נקיים סדנאות הדרכה בזום במטרה להכין אותך ולסייע לך לקראת המפגשים. הסדנאות יכללו תכנים פרקטיים
      והקניית כלים שיסייעו לך מבנית ורגשית לקראת המפגש, בין אם לקחת חלק במפגשי 'האחים שלנו' בעבר ובין אם לא. המפגשים
      יתקיימו בשבוע שסביב יום הזיכרון 9-14.4.21. ישנה אפשרות להשתבץ ליותר מבית מארח אחד. מפגשי 'האחים שלנו' מתקיימים
      במסגרת הנחיות התו הירוק (אכיפת ההנחיות באחריות המארח בלבד). פה בשבילכם לכל שאלה.
    </p>
  </div>
  <!-- <button (click)="submit.emit()" class="site-button primary-button intro-button">
    המשך
  </button> -->
</section>
