<div class="qna-item" [class.open]="open">
  <div class="question-container">
    <div class="question-mark"></div>
    <div class="question-text" [class.font-bold]="open">
      {{ qnaItem.question }}
    </div>
    <div *ngIf="open" class="answer-container" [innerHtml]="answerSafeHtml"></div>
    <div (click)="open = !open">
      <!-- <div class="question-collapse-btn-text"> -->
      <!-- {{ open ? 'סגור' : 'תשובה' }} -->
      <div *ngIf="!open" class="qna-icon">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M13 7C13 6.44772 12.5523 6 12 6C11.4477 6 11 6.44772 11 7V11H7C6.44772 11 6 11.4477 6 12C6 12.5523 6.44772 13 7 13H11V17C11 17.5523 11.4477 18 12 18C12.5523 18 13 17.5523 13 17V13H17C17.5523 13 18 12.5523 18 12C18 11.4477 17.5523 11 17 11H13V7Z"
            fill="#16B3AB" />
        </svg>
      </div>

      <div *ngIf="open" class="qna-icon">
        <svg width="40" height="40" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M8 11C7.44772 11 7 11.4477 7 12C7 12.5523 7.44772 13 8 13H16C16.5523 13 17 12.5523 17 12C17 11.4477 16.5523 11 16 11H8Z"
            fill="#16B3AB" />
          />
        </svg>
      </div>
      <!-- </div> -->
      <!-- <i class="fas" [class.fa-angle-double-down]="!open" [class.fa-angle-double-up]="open"></i> -->
    </div>
  </div>
</div>