<img class="image-header" src="../../../assets/img/aboutHeader.jpg" />
<div class="site-divider"></div>
<!-- <h1 class="small-heading" data-aos="fade-up" data-aos-duration="1000">העמוד בבנייה</h1>
<h2 class="medium-heading" data-aos="fade-up" data-aos-duration="1000">יעלה בקרוב</h2> -->

<!-- <script src="https://cdn.jsdelivr.net/npm/publicalbum@latest/embed-ui.min.js" async></script> -->
<div
  class="pa-gallery-player-widget"
  style="width:100%; height:480px; display:none;"
  data-link="https://photos.app.goo.gl/AXxdPYiNPb9oDozf8"
  data-title="תמונות של אחים"
  data-description="12 new photos added to shared album"
  data-delay="2"
>
  <object
    data="https://lh3.googleusercontent.com/Mr1MsJsViwdhZqjc3nGXZ3k-6gY-K_mwNqbfXDctBB0ajnw75xKAVBhxs1x6lf8msf6LXL5w6WmSYAwgMqCJewAFAte0EdfKzdaav77zDszHPkvHnOLf4Rfk7KHvntUWdkFBh66R=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/ReIRQnJ5Y3Pypm9ReRcumbGHxH60EWQn4EeTWd6YK-fNCt8C7pvZDgh3_BLt_zcifOE_xIYoX8LxgSCWENMJpePD1KiscYA6Ga2r_JdSDADUf5a6P3xpeOMlQ5ZELGnhzLVoPghJ=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/k5Etm0CV4g8qZOY0OQB7Y5v1V_TXz2jSmD6l4E56cfTFRCHtf3bY_IJ6d8gb77ZX-cBUFKNgyovoLn7iAwrwl6vO7pvM9_BDgxNgsq6AifPewisxe0H3S4KvoeQpNXfhcG0JANlV=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/kp-8038pJUQDSWIGE_D0oBkSbRYaQ0V89A0KVNzAePuIWj3sl12ARwI3WxLeSQnjGkYMzWk0DvjrR37yM-6TEOq4i71PXRSnXCxIRhvnFhTPmtnfp1nEEQV4Ofk7CC1aYG7AyPeH=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/muvTobuFTuAng4F7TWldJosf8ZoLAEPseAEa1JCvqAJqD-zonK8vlGY41OyLp2oBS3S3cM8O3beus3yKBOh9WDUUOuGJOavARmnmMteIN_TU6H2vFOXBQKzqxlfBtZO7zneKH4u2=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/5GRoCA4wb8WVvxYKUXYBZ4Wwp3jzCaPKuZwrsoJI52fr6_pyQiLnK8OB_ddjS7boLknSRlqAUVc39sBgbujCxsDZYnfg4TVpmUQLglhIcUrD8j2p5TXe7cx8Y5rl0qQVixpI2MEy=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/pQ-tdUO120U4UxxWvf6MbFzc_320inoGZ_8PXOC18U3VG9bA_pKXzcTO2j2U688yYksZSXxjGGkKvJMeQo0bjLxXWVGT-WAfju2JiJuh4js2Yf83d4LTViF6_iDkEwSpHLrvQpwW=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/hjbJBosqYYfcheZqB1wEl5NapoN3jM9iZ75YQ7OLZMWVQNq8k7FUEUI2t4XXvuV_DzjVNNVDrLCJ2Fn-JI5lBn0gExG-9o-_vFzOpW2ReH9J6KzkKQ7tflqJSvde9dssnggmbBy_=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/HeKk9jV1ma3R2-_6vk1A6T7-XnmJf7fbcyXbWABWd7GTnKeCuz0XO6iUUXULHLklP7y2tpWDBg9V2AwFpNIkQ44S2fqxcoQkKU8SlkmzUSLmxqJh_9gQAU-S6eVyif2SGVpeJCcX=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/VzhS_jOWQn_8v1lMVHB3wMl6n5uwFh0icizOYHA7z8yUo0oQzfcvxP8Xv1FI6UqGP3kSCGSUXxUl9zVdkpXcYKFCYbR6VK2-iNG7DYeOwjZLw5CyOzJiTHScEkZP6iM2uIxUhV8q=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/ZefHXqoUceMeFJ8sMwFvvyEehZk3Kab0U30N3bJ7wrb5Lqw5xWMgUGpc51wfFDfd8pZyKRm9g7FmIpjJ8SwpEL4aYq1pI4Q0aFgZ9x3YjYu0UmJhmG2NesU-HG1Lq8Fw-KLZ83u-=w1920-h1080"
  ></object>
  <object
    data="https://lh3.googleusercontent.com/TD8I3FBdznZzhWn39BqhehFAwVm65wlHHMGeehI8MdStSK60dWOatRDn2K4NeYTTeyTJD3J8Zl9xnjztbT9AAFrdWDlt94MUQyDOcA-DK1I1h0J0QSmZ8kZdbX2d8reFngmR--Ac=w1920-h1080"
  ></object>
</div>
